.carousel {
	width: var(--carousel-max-width);
	overflow: hidden;
	position: relative;
	margin: 16px;
}

.carousel-images {
	display: flex;
	transition: transform 0.5s ease-in-out;
	will-change: transform;
}

.carousel-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--carousel-max-width);
	flex-shrink: 0;
}

.carousel-images img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.carousel-prev, .carousel-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: none;
}

.carousel:hover .carousel-prev, .carousel:hover .carousel-next {
	display: block;
}

.carousel-prev {
	left: 0;
}

.carousel-next {
	right: 0;
}

.carousel-indicator {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.carousel-dot {
	width: 10px;
	height: 10px;
	margin: 0 5px;
	background-color: lightgray;
	border-radius: 50%;
	cursor: pointer;
}

.carousel-dot-active {
	background-color: gray;
}
