:root {
    --bg-color: white;
    --fg-color: #3B454E;
    --accent-color: #0d52bf;  /* blueberry-700 */
    --header-bg-color: #64baff; /* blueberry-300 */
    --header-fg-color: #242A31;
    --header-border-color: #d4d4d4;
    --secondary-bg-color: #f5f5f5;
    --title-color: #32383f;
}

:root {
    --ui-font: Content-font, Roboto, sans-serif;
    /*--ui-font: Inter, "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;*/
    --text-font: "Noto Serif", "Droid Serif", serif;
    --heading-font: Inter, Raleway, var(--ui-font)
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--fg-color);
    font-size: 16px;
    font-family: var(--ui-font);
    font-weight: 400;
    background-color: var(--secondary-bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h2, h3, h4, h5, h6 {
    margin-top: 1.25em;
    margin-bottom: 0;
}

h1 {
    color: var(--title-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1em;
}

h2 {
    font-size: 1.25em;
    font-weight: 600;
}

p, ul, ol {
    font-family: var(--text-font);
    margin-top: 0.5em;
    margin-bottom: 1.0em;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 0.50em;
}

li > p {
    margin: 0
}

header {
    /*
     * Why do I need this here?, For some reason adding the padding under the
     * header > a selector isn't enough... vertical padding is ignored there.
     */
    padding: 12px 6px;

    font-weight: 400;
    font-family: var(--heading-font);
    border-bottom: solid 1px var(--header-border-color);

    background-color: var(--bg-color);
}

header > a {
    cursor: default;
    padding: 0 6px;
    color: var(--header-fg-color);
}

pre {
    background-color: inherit;
}

code {
    font-family: monospace;
}

.code-block {
    font-size: 0.85em;
    line-height: 1.33em;
    background-color: var(--code-block-color);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.22);
    border-radius: 5px;
    margin: auto;

    margin-top: 0.5em;
    margin-bottom: 1.0em;

    padding: var(--code-block-padding);
    max-width: var(--content-width);
    overflow-x: auto;
}

.code-inline {
    font-size: 0.95em;
    line-height: 1.33em;
    background-color: var(--code-inline-color);
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--code-inline-border-color);
}

.note {
    box-sizing: border-box;
    height: var(--note-container-height);
    width: var(--expanded-note-width);
    margin: 0 auto;
    padding: 0 var(--content-padding);
    display: block;
    position: absolute;
    line-height: 1.50em;
    overflow-y: auto;

    /* 
     * Absolute positioning makes setting background-color to white to
     * overwrite the shadow of the header, it doesn't matter if it's set in the
     * header or in the note-container. We can either choose relative
     * positioning, or put the shadows on each object the shadow is cast on
     * like we do here.
     *
     * This seems to be related to context creation and stacking order? Would
     * need to read CSS' specification closely to really understand what's
     * going on here.
     * :absolute_positioning_background_color_no_shadow
     */
    background-color: var(--bg-color);
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.08) inset; /* Header shadow */
}

.note > button {
    border: 0;
    margin: 2px;
    width: var(--note-button-width);
    height: var(--note-button-width);
    background-color: white;

    border-radius: 3px;
    border: 0;
    padding: 0;
    margin: 0;
}

.note > button:hover {
    background-color: #0000001f;
}

.collapsed {
    margin: 0;
    padding: 0 0;
    height: var(--note-container-height);
    display: block;
    width: var(--collapsed-note-width);
    position: absolute;

    /* :absolute_positioning_background_color_no_shadow */
    background-color: var(--bg-color);
}

.right-shadow {
    /* :absolute_positioning_background_color_no_shadow */
    box-shadow:
        0px 10px 10px -10px rgba(0,0,0,0.08) inset, /* Header shadow */
        -10px 0px 10px -10px rgba(0,0,0,0.1) inset;
}

.left-shadow {
    /* :absolute_positioning_background_color_no_shadow */
    box-shadow:
        0px 10px 10px -10px rgba(0,0,0,0.08) inset, /* Header shadow */
        10px 0px 10px -10px rgba(0,0,0,0.1) inset;
}

.collapsed-label {
    margin: 0;
    padding: 0 0;
    color: var(--title-color);
    font-weight: 500;
    line-height: 40px;
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 32px;
}

.note-link {
    border-radius: 4px;
    color: var(--note-link-color);
    background-color: var(--note-link-color-bg); /*#586cff0f*/
    box-shadow: 0 0 0 1px var(--note-link-color-sh);
}

