:root {
    --bg-color: white;
    --fg-color: #3B454E;
    --accent-color: #0d52bf;  /* blueberry-700 */
    --sidebar-color: #242A31;
    --secondary-bg-color: #f5f5f5;
    --secondary-fg-color: #3B454EB0;
    --title-color: #32383f;

    --content-width: 708px;
    --sidebar-width: 240px;
    --topbar-height: 45px;
    --bleed: 6px;
}

:root {
    --ui-font: Content-font, Roboto, sans-serif;
    /*--ui-font: Inter, "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;*/
    --text-font: "Noto Serif", "Droid Serif", serif;
    --heading-font: Inter, Raleway, var(--ui-font)
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--fg-color);
    font-size: 16px;
    font-family: var(--ui-font);
    font-weight: 400;

    /*For some reason not doing this causes a double scrollbar in pages with
     * math rendering.*/
    overflow-y:hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--heading-font);
    padding-bottom: 6px;
}

h2, h3, h4, h5, h6 {
    margin-top: 0.75em;
    padding-top: 0.5em;
}

h1 {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 1.25em;
    font-weight: 600;
}

p, ul, ol {
    font-family: var(--text-font);
    margin: 0;
}

p, .attributes {
    padding: 0.5em 0;
}

ul, ol {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
}

#topbar {
    display: flex;
    align-items: center;
    height: var(--topbar-height);

    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar {
    flex-grow: 0;
    flex-shrink: 0;

    position: relative;
    display: flex;
    flex-direction: column;

    z-index: 100;
    gap: 6px;

    width: 240px;
    height: 100%;
    box-sizing: border-box;

    padding: calc(6px + var(--topbar-height)) 6px 6px 6px;

    font-weight: 400;
    font-family: var(--heading-font);

    background-color: var(--secondary-bg-color);

    transition: transform ease 300ms, width ease 300ms;
    -webkit-transition: transform ease 300ms, width ease 300ms;
    -moz-transition: transform ease 300ms, width ease 300ms;
}

#sidebar > a {
    cursor: default;
    padding: 0 6px;
    color: var(--sidebar-color);
}

pre {
    background-color: inherit;
}

code {
    font-family: monospace;
}

.code-block {
    font-size: 0.85em;
    line-height: 1.33em;
    background-color: var(--code-block-color);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.22);
    border-radius: 5px;
    margin: auto;

    margin-top: 0.5em;
    margin-bottom: 1.0em;

    padding: var(--code-block-padding);
    max-width: var(--content-width);
    overflow-x: auto;
}

.code-inline {
    font-size: 0.95em;
    line-height: 1.33em;
    background-color: var(--code-inline-color);
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--code-inline-border-color);
}

.note {
    box-sizing: border-box;
    width: var(--content-width);
    margin: 0 auto;
    display: block;

    line-height: 1.50em;

    background-color: var(--bg-color);
}

#topbar > button {
    border: 0;
    margin: 2px;
    width: var(--note-button-width);
    height: var(--note-button-width);
    background-color: white;

    border-radius: 3px;
    border: 0;
    padding: 0;
    margin: 0;
}

#topbar > button:hover {
    background-color: #0000001f;
}

.collapsed-label {
    margin: 0;
    padding: 0 0;
    color: var(--title-color);
    font-weight: 500;
    line-height: 40px;
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 32px;
}

.note-link {
    border-radius: 4px;
    color: var(--note-link-color);
    background-color: var(--note-link-color-bg);
    box-shadow: 0 0 0 1px var(--note-link-color-sh);
}

.crumb-separator {
    margin: 0 2px;
    opacity: 0.4;
}

.crumb {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    line-height: 1.2;
    color: var(--sidebar-color);
    opacity: 0.8;
}

.crumb:hover {
    text-decoration: underline;
    /*background-color: var(--secondary-bg-color);*/
}

#sidebar-button {
    justify-content: center;
    display: flex;
    align-items: center;

    width: 32px;
    height: 32px;
    position: fixed;
    z-index: 101;
    margin: 6px 6px;

    border: 0;
    border-radius: 3px;
    background-color: #00000000;
}

#sidebar-button:hover {
    background-color: #0000001f;
}

.attributes {
    gap: 6px;
    display: flex;
    flex-direction: column;
    white-space: pre;
}

.attribute-label {
    flex-shrink: 0;
    width: 160px;
    padding: 0 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attribute-value {
    padding: 0 4px;
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #0000001c;
    text-overflow: ellipsis;
    overflow-x: clip;
}

.attribute-value:hover {
    background-color: var(--secondary-bg-color);
}

.type-list {
    margin-bottom: 10px;
    align-items: baseline;
    display: flex;
    color: var(--secondary-fg-color)
}

.type {
    padding: 1px 0.5em;
    border-radius: 1.5em;
    margin-right: 6px;
    cursor: pointer;
    border: 1px solid #0000001c;
    background-color: var(--secondary-bg-color);
}

.attributed-block {
    position: relative;
    left: calc(0px - var(--bleed));
    width: calc(var(--content-width) + 2*var(--bleed));

    border-radius: 3px;
    border: 1px solid #0000001c;
}

.attributed-block > p {
    padding-left: var(--bleed);
    padding-right: var(--bleed);
}


.attributed-block .type-list {
    margin-bottom: 0;
}

.attributed-block .attribute-label {
    width: 90px;
}

.attributed-block .type {
    background-color: var(--bg-color);
}

.attributed-block .attribute-value:hover {
    background-color: var(--bg-color);
}

.attributed-block .attributes {
    padding: 0;
    padding-top: var(--bleed);;
}

.backlinks {
    padding: 0.5em 1em;
    position: relative;
    left: calc(0px - var(--bleed));
    width: calc(var(--content-width) + 2*var(--bleed));
    background-color: var(--secondary-bg-color);
}

