<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <header id="header">
          {% for note_id in title_notes %}
          <a onclick='return reset_and_open_note("{{ note_id }}")' href="#">{{ id_to_note_title[note_id] }}</a>
          {% endfor %}
      </header>

      <div id="note-container"></div>

      <script src="note_data.js"></script>
      <script src="computed_css.js"></script>
      <script src="note_renderer.js"></script>
      <script src="lib/sprintf.js"></script>
  </body>
</html>
