<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="lib/katex/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
    <script src="lib/katex/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
  </head>
  <body>
      <header id="header">
          {% for note_id in title_notes %}
          <a onclick='return reset_and_open_note("{{ note_id }}")' href="#">{{ id_to_note_title[note_id] }}</a>
          {% endfor %}
      </header>

      <div id="note-container"></div>

      <script src="lib/sprintf.js"></script>

      <script src="common.js"></script>
      <script src="note_data.js"></script>
      <script src="note_renderer.js"></script>
  </body>
</html>
